
services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.0.7
    command: start-dev
    ports:
      - "8081:8080"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    volumes:
      - keycloak_data:/opt/keycloak/data

  postgres:
    image: postgres:16
    container_name: training-postgres-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: training
      POSTGRES_USER: training
      POSTGRES_PASSWORD: training
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
  keycloak_data:
